<form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="searchByName()">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="name">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="container">
  <div class="col-10">
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
        <th scope="col">Age</th>
        <th scope="col">Class</th>
        <th scope="col" colspan="2">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of students; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{s.name}}</td>
        <td>{{s.score}}</td>
        <td>{{s.age}}</td>
        <td>{{s.clazz.name}}</td>
        <td><button (click)="delete(s.id)">Delete</button></td>
        <td><button [routerLink]="['/edit',s.id]">Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
